{% extends 'homepage.html' %}
{% load static %}
{% block content %}
<body class="page no-sidebar header-style-1 menu-has-search menu-has-cart">

<div id="wrapper" class="animsition">
<div id="page" class="clearfix">
    
    {% include 'include/header.html' %}

<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Наша команда</h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="{% url 'index' %}"   class="trail-begin">Главная</a>
                        <span class="sep">/</span>
                        <span class="trail-end">Наша команда</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                                {% for team in teams %}
                                <div class="col-md-4">

                                    <div class="service-item clearfix">
                                        <div class="thumb"><img src="{{team.image.url}}" alt="image" /></div>
                                        <div class="service-item-wrap">
                                            <h3 class="title font-size-18"><a href="#">{{team.full_name}}</a></h3>
                                            <p class="desc">
                                                {{team.description}}
                                                <br>
                                                Специальность: <span>{{team.work}} </span>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="wprt-spacer" data-desktop="55" data-mobi="40" data-smobi="40"></div>
                                </div><!-- /.col-md-2 -->
                                {% endfor %}
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </section>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer id="footer">
    <div id="footer-widgets" class="container style-1">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget_text">
                    <h2 class="widget-title"><span>ABOUT US</span></h2>
                    <div class="textwidget">
                        <img src="assets/img/logo-light@2x.png" width="200" height="30" alt="image" class="margin-top-5 margin-bottom-25" />
                        <p>Building isn’t just a job. At the Construction Company, it is our passion. With every project we undertake, we set the bar high and provide the best people in the industry, with a true love of what we do to make our Customers’ vision a reality.</p>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget_links">
                    <h2 class="widget-title"><span>COMPANY LINKS</span></h2>
                    <ul class="wprt-links clearfix col2">
                        <li class="style-2"><a href="#">History</a></li>
                        <li class="style-2"><a href="#">Services</a></li>
                        <li class="style-2"><a href="#">Team & Awards</a></li>
                        <li class="style-2"><a href="#">Delivery Methods</a></li>
                        <li class="style-2"><a href="#">Community</a></li>
                        <li class="style-2"><a href="#">Safety</a></li>
                        <li class="style-2"><a href="#">News & Events</a></li>
                        <li class="style-2"><a href="#">Sustainability</a></li>
                        <li class="style-2"><a href="#">FAQ</a></li>
                        <li class="style-2"><a href="#">Portfolio</a></li>
                        <li class="style-2"><a href="#">Contact Us</a></li>
                        <li class="style-2"><a href="#">Shop</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget widget_information">
                    <h2 class="widget-title"><span>CONTACT INFO</span></h2>
                    <ul class="style-2">
                        <li class="address clearfix">
                            <span class="hl">Address:</span>
                            <span class="text">1379 Shoreline Parkway, Mountain View, CA 94043, United States</span>
                        </li>
                        <li class="phone clearfix">
                            <span class="hl">Phone:</span> 
                            <span class="text">+1 718-999-3939</span>
                        </li>
                        <li class="email clearfix">
                            <span class="hl">E-mail:</span>
                            <span class="text">contact@construction.com</span>
                        </li>
                    </ul>
                </div>

                <div class="widget widget_spacer">
                    <div class="wprt-spacer clearfix" data-desktop="10" data-mobi="10" data-smobi="10"></div>
                </div>

                <div class="widget widget_socials">
                    <div class="socials">
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bottom -->
<div id="bottom" class="clearfix style-1">
    <div id="bottom-bar-inner" class="wprt-container">
        <div class="bottom-bar-inner-wrap">
        
            <div class="bottom-bar-content">
                <div id="copyright">CONSTRUCTION TEMPLATE &copy; DESIGN BY BLOGWP.
                </div><!-- /#copyright -->
            </div><!-- /.bottom-bar-content -->

            <div class="bottom-bar-menu">
                <ul class="bottom-nav">
                    <li><a href="#/">HISTORY</a></li>
                    <li><a href="#/">FAQ</a></li>
                    <li><a href="#/">EVENTS</a></li>
                </ul>       
            </div><!-- /.bottom-bar-menu -->
        </div>
    </div>
</div>
</div><!-- /#page -->
</div><!-- /#wrapper -->

<a id="scroll-top"></a>

{% endblock %}